<h1> About me! </h1>

<p> Hello, my name is Calvin Johnson </p>

<p> Calvin Johnson, Jr. (born September 29, 1985), nicknamed Megatron, is an American football wide receiver for the Detroit Lions of the National Football League (NFL). He played college football for Georgia Tech, and was recognized as an All-American twice. He was selected by the Lions with the second overall pick in the 2007 NFL Draft.
On March 14, 2012, Johnson signed an eight-year, $132 million contract extension with the Lions, one of the largest sports contracts ever.[1] Johnson has a rare combination of size (6 ft 5 in and 239 lb), hands, speed (40-yard dash in 4.35 seconds, strength, leaping ability,[2][3] body control and hand-eye coordination. His nickname "Megatron", a Transformers character, was given to him by former Lions wide receiver Roy Williams and the name caught on with fans.
On December 22, 2012, Johnson broke Jerry Rice's single-season record for receiving yards, which had previously been 1,848, and Johnson finished the 2012 season with 1,964 yards, an average of almost 123 yards per game.[4][5] In that same Saturday night game versus the Atlanta Falcons, Johnson also set the NFL records for consecutive 100-yard games (8) and consecutive games with 10 or more receptions (4). He also tied Hall of Famer Michael Irvin's record for most 100-yard games in a season with 11.[6] </p>


<%= link_to 'Back', root_path %>