<h1>Calvin Johnson Homepage</h1>

<%= @name %> <br>
<%= @number %>
<p>
<img src="https://blog-blogmediainc.netdna-ssl.com/upload/SportsBlogcom/54607/0150209001414323334_filepicker.jpg" height="420" width="420"></p>